.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory

#cached_results
#figures
#*.html
3_r_l_modeling_cache
3_r_l_modeling_files

# mac files
.DS_Store

# RStudio project files
.Rproj.user
r_l_contrast.Rproj

